.header {
  padding-left: 0px;
}
.menu-label {
  padding-left: 0px;
}
.item-menu {
  padding-left: 50px;
}
.padding-icon-menu {
  padding-left: 10px;
}
.menu-title {
  padding-left: 0px !important;
}
